<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.rtificialtrainer">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AthletesActivity"
            android:label="@string/ath_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dell.rtificialtrainer.MainActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".AthleteDetActivity"
            android:label="@string/ath_det_name"
            android:parentActivityName=".AthletesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dell.rtificialtrainer.AthletesActivity" />
        </activity>
        <activity
            android:name=".AthleteFormActivity"
            android:label="@string/ath_form_name"
            android:parentActivityName=".AthletesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dell.rtificialtrainer.AthletesActivity" />
        </activity>
        <activity
            android:name=".EvaluateActivity"
            android:label="@string/pr_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dell.rtificialtrainer.MainActivity" />
        </activity>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".AboutActivity"
            android:label="@string/aboutName"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dell.rtificialtrainer.MainActivity" />
        </activity>
    </application>

</manifest>
